.pokemenu dd{
    display: inline-block;
    margin-right: 20px;
    background-color: #6CDAFF;
}

.pokemenu dd a{
    text-decoration: none;
    color: #000;
}

.pokemenu dd a:hover{
    color: #06e344;
}
